@import 'katex/dist/katex.min.css';
@import "./fancybox.css";
@import './fonts.css';
@import './color.css';
@import './layout.css';
@import './markdown.css';



/* 全局样式重置 */
html {
    box-sizing: border-box;  
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

html, body, #app {
  height: 100%;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;  /* 响应式图片 */
}

ul, ol {
  list-style: none;  /* 默认去掉点 */
}

a {
  text-decoration: none;
  color: inherit;   /* 链接继承文本颜色 */
}

button, input, textarea, select {
  font: inherit;     /* 保证表单控件字体统一 */
  background: none;
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 全局平滑滚动 */
html {
  scroll-behavior: smooth;
}

/* 彻底拆除 Chromium + Sarasa 的死锁公式 */
.katex, .katex-display, .markdown-body {
  font-family: 
    KaTeX_Main, KaTeX_Math, KaTeX_Size1, KaTeX_Size2, 
    /* 1. 先用专属公式字体 */
    
    -apple-system, BlinkMacSystemFont, 
    /* 2. 苹果系统安全字体 */
    
    "Segoe UI", Roboto, Helvetica, Arial, 
    /* 3. 现代全平台标准无衬线字体 */
    
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", 
    /* 4. 强行指定系统自带的、轻量标准的中文衬线字体进行兜底 */
    
    sans-serif !important; 
    /* 5. 最后的通用族，但前面已经被微软雅黑等硬编码字体拦截，
       Chrome 再也没有机会去调用你系统默认设置的更纱黑体了 */
}